/* -------------------- */
/*        RESET         */
/* -------------------- */
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -------------------- */
/*     VARIABLES        */
/* -------------------- */
:root {
  --clr-primary-soft-orange: hsl(35, 77%, 62%);
  --clr-primary-soft-red: hsl(5, 85%, 63%);
  --clr-neutral-off-white: hsl(36, 100%, 99%);
  --clr-neutral-grayish-blue: hsl(233, 8%, 79%);
  --clr-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-neutral-very-dark-blue: hsl(240, 100%, 5%);
  --font-size-s: 0.89rem;
  --font-size-m: 1rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-800: 800;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-m);
  padding-inline: min(11vw, 10rem);
  margin-bottom: 2rem;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 830px) {
  body {
    padding-inline: 2.5rem;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 500px) {
  body {
    padding: 1.5rem 1rem;
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.25rem 0;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .header {
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }
}
.header__nav {
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .header__nav {
    background-color: var(--clr-neutral-off-white);
    border-left: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    width: 65vw;
    height: 100%;
    transform: translateX(100%);
  }
}
.header__nav--hamburger-menu {
  position: relative;
  z-index: 10;
  display: none;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .header__nav--hamburger-menu {
    display: block;
  }
}
.header__nav--hamburger-menu--line {
  transition: transform 0.3s ease-in-out;
}
.header__nav--hamburger-menu--line:not(:last-child) {
  margin-bottom: 0.25rem;
}
.header__nav--hamburger-menu--line.line-1, .header__nav--hamburger-menu--line.line-2, .header__nav--hamburger-menu--line.line-3 {
  background-color: var(--clr-neutral-very-dark-blue);
  width: 40px;
  height: 3px;
}
.header__nav--list {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .header__nav--list {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 2rem;
    margin-top: 9rem;
  }
}
.header__nav--list--item {
  color: var(--clr-neutral-dark-grayish-blue);
  transition: color 0.2s ease;
}
@media (max-width: 768px) {
  .header__nav--list--item {
    font-size: 1.25rem;
    color: var(--clr-neutral-very-dark-blue);
  }
}
.header__nav--list--item:hover {
  color: var(--clr-primary-soft-red);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.section__hero {
  display: grid;
  gap: 1.65rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1142px) {
  .section__hero {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .section__hero {
    gap: 3.5rem;
  }
}
@media (max-width: 1142px) {
  .section__hero--cta {
    grid-column: unset;
  }
}
.section__hero--cta__text {
  display: grid;
  gap: 1.65rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.65rem;
}
@media (max-width: 600px) {
  .section__hero--cta__text {
    grid-template-columns: 1fr;
  }
}
.section__hero--cta__text--title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-800);
  line-height: 1.1;
  max-width: 300px;
}
@media (max-width: 500px) {
  .section__hero--cta__text--title {
    font-size: 2.4rem;
  }
}
.section__hero--cta__text--inner {
  max-width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__hero--cta__text--inner--description {
  color: var(--clr-neutral-dark-grayish-blue);
  font-size: var(--font-size-s);
  line-height: 1.5;
}
@media (max-width: 500px) {
  .section__hero--cta__text--inner--description {
    margin-bottom: 2rem;
  }
}
.section__hero--side {
  background-color: var(--clr-neutral-very-dark-blue);
  color: var(--clr-neutral-off-white);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__hero--side__title {
  font-size: var(--font-size-l);
  color: var(--clr-primary-soft-orange);
  font-weight: var(--font-weight-700);
}
@media (max-width: 500px) {
  .section__hero--side__title {
    margin-bottom: 1.5rem;
  }
}
.section__hero--side__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section__hero--side__cards--card:not(:last-child) {
  border-bottom: 2px solid var(--clr-neutral-dark-grayish-blue);
}
.section__hero--side__cards--card--title {
  font-weight: var(--font-weight-700);
  margin-bottom: 0.75rem;
  transition: color 0.2s ease;
  cursor: pointer;
}
.section__hero--side__cards--card--title:hover {
  color: var(--clr-primary-soft-orange);
}
.section__hero--side__cards--card--subtitle {
  color: var(--clr-neutral-grayish-blue);
  line-height: 1.6;
  margin-bottom: 1.8rem;
  font-size: var(--font-size-s);
}
.section__hero--blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.65rem;
  margin-top: 2.8rem;
}
@media (max-width: 1280px) {
  .section__hero--blog {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1142px) {
  .section__hero--blog {
    grid-column: unset;
  }
}
@media (max-width: 500px) {
  .section__hero--blog {
    margin-top: 0;
  }
}
.section__hero--blog__card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.section__hero--blog__card--img {
  max-width: 100px;
}
.section__hero--blog__card--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 215px;
}
.section__hero--blog__card--text--number {
  font-size: 1.8rem;
  color: var(--clr-neutral-grayish-blue);
  font-weight: var(--font-weight-700);
}
.section__hero--blog__card--text--title {
  font-weight: var(--font-weight-700);
  transition: color 0.2s ease;
  cursor: pointer;
}
.section__hero--blog__card--text--title:hover {
  color: var(--clr-primary-soft-red);
}
.section__hero--blog__card--text--subtitle {
  color: var(--clr-neutral-dark-grayish-blue);
  line-height: 1.6;
  font-size: var(--font-size-s);
}

.no-margin {
  margin-bottom: 0;
}

.btn {
  padding: 0.75rem 1.75rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border-radius: 0;
  border: none;
  background-color: var(--clr-primary-soft-red);
  color: var(--clr-neutral-off-white);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-700);
  width: max-content;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--clr-neutral-very-dark-blue);
}

.nav-active {
  transform: translateX(0);
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.rotate #hamburger-line-1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.rotate #hamburger-line-2 {
  opacity: 0;
}

.rotate #hamburger-line-3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.overlay {
  display: none;
}
@media (max-width: 768px) {
  .overlay {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
  }
}

/*# sourceMappingURL=main.comp.css.map */
